.conteiner{
    width: 450px;
    margin: auto;
    position: relative;
    color: white;
}
.conteiner img{
    width: 100%;/* a imagem vai ficar do tamanho do conteiner*/
}
.baixoEsquerda{
    position: absolute;
    bottom:5px;
    left: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.519);
    padding:10px;
}
.topoEsquerda{
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.519);
    padding:10px;
}
.topoDireita{
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.519);
    padding:10px;
}
.baixoDireita{
    position: absolute;
    bottom:5px;
    right: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.519);
    padding:10px;
}
.centro{
    position: absolute;
    top: 45%;
    left:40%;
    transition: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.519);
    padding:10px;
}
